.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    background: rgba(0, 0, 0, 0.2);
  }

  &__dialog {
    max-width: 90%;
    padding: 10px;
    margin: 10px auto;
    min-height: 300px;
    height: auto;
    position: relative;
    background-color: #fff;
    width: auto;
    border-radius: 0.3rem;
    overflow: auto;

    @media screen and (max-width: 768px) {
      max-width: calc(100% - 40px);
      height: calc(100% - 40px);
    }

    &--header {
      display: flex;
      justify-content: flex-end;
      position: fixed;
      top: 20px;
      right: 5%;
    }

    &--body {
      position: relative;
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      @media screen and (max-width: 768px) {
        display: block;
      }

      .photos {
        width: 35%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      .modal-content {
        width: 65%;
        color: #858585;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        &__title {
          margin: 0 0 10px 0;
        }

        &__price {
          .compare {
            text-decoration: line-through;
            font-size: 14px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
