body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #858585;
}

.container {
  max-width: 1200px;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 10px;

  .app {
    margin-top: 20px;

    .list-group {
      padding: 0;
      list-style: none;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 13px;
  border: 1px solid transparent;
  border-bottom: 1px solid #eee;

  &:focus {
    outline: 0;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.text-center {
  text-align: center;
}

.c-pointer {
  cursor: pointer;
}

.select {
  display: block;
  min-height: 44px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-image: url('https://cdn.shopify.com/s/files/1/0212/1372/t/39/assets/arrow-down.svg?v=5103097903298822933');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: white;
  color: #858585;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 28px 4px 10px;
  margin: 0 4px 4px 0px;
  cursor: pointer;

  &:focus {
    outline: 1px solid #ddd;
  }
}

select::-ms-expand {
  display: none;
}

.form-group {
  label {
    font-size: 12px;
  }
  select {
    margin-bottom: 10px;
  }
}

hr {
  border-top: 1px solid #eee;
}
